# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem

# local build artifacts
.bundle/
vendor/
.jekyll-cache/
.jekyll-metadata
commands
